
BODY {
    background-color:white;
    padding-left: 100px ;
    padding-right: 100px ;
    font-size: 20px;
    line-height: 1.64; 
}
html, body { color: #434242; font-family:'Open Sans', sans-serif !important; height: 100%; }


/*the navigation bar*/
nav {
    border: 0px;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #222222;  
    top: 100%; 
    right: 5%; 
    width: 110px; 
    z-index: 999;
    position: fixed; top: 200px; right:10px ;
}
nav > li { 
    display: block;
    float: none; 
    height: 200px;
} 
nav > li a:hover, nav > li a:focus { 
    color: #fff; 
}
ul.noBullets {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
nav a {
    text-decoration: none; 
    color: white;
}

/*end navigation bar*/

/*the home page*/

#top {
    background-image: url(me1.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    position: absolute; 
    top: 0px; 
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    z-index: 1;
}

.jumbotron .overlay {
    background-color: #22A39F; 
    position: absolute;
    top: 0px; 
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
    opacity: 0.60;
    filter:alpha(opacity=60);
    z-index: 2;
}

.jumbotron .container { 
    position: relative; 
    top: 250px; 
    z-index: 4; 
    text-align: center;
}
.jumbotron .container > * {
    text-align: center; 
    color: #FFFFFF; 
}
.jumbotron .container h1 {
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.35);
    display: inline-block; 
}
.jumbotron .container .lead {
    font-size: 28px;
}
/*End home page*/

/*other pages*/
.container { max-width: 1280px; padding: 40px 180px; }
/*Only the profile page*/
#profile table tr { margin-bottom: 20px; }
#profile table img { 
    width: 100%;
    max-width: 250px;
    height: 200px; 
    border-radius: 50%; 
    border-style:groove;
    border-top-color: black;
    border-left-color: yellow;
    border-right-color: yellow;
    border-bottom-color: red;
    border-width: 10px;  }
#profile {
    position: absolute;
    top: 765px;
    left: 0px;
    width: 100%;
    z-index: 5;
}
/*End of profile page*/

/*the experiences page*/
#experiences {
    background-color:darksalmon;
    position: absolute;
    top:1540px;
    left:0px;
    z-index: 6;
} 

#experiences > table > td {
    vertical-align: top;
    
} 

#experiences table {
    border-spacing: 20px 10px;
}

.study_location {
    color: blue;
    padding-left: 20px;
}
.company_link a {
    text-decoration: none;
    padding-left: 20px;
}
/*End of experiences page*/

/*Begin the abilities page*/

#abilities {
    color: inherit;
    background-color: aqua;
    position: absolute;
    top: 3130px;
    left: 0px;
    width: 100%;
    z-index: 7;
}

.no_Bullets {
    list-style-type: none;
}
/*end of abilities' page*/

/*Contact me page*/
#contacts {
    background-color: darkgray;
    position: absolute;
    top: 4322px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    z-index: 8;
}



.No-Bullets {
    list-style-type: none;
    vertical-align:middle;
    text-decoration:none;
}

.No-Bullets a {
    text-decoration: underline;
    color: darkblue;
}

.logo {
    border-style: none;
    border-radius: 10%;
    height: 40px;
    width:40px;
}

#C_button {
    height: 30px;
    width: 100px;
    border-radius: 40em;
}

#outro {
    color:antiquewhite;
}

.study_time {
    padding-left: 10px;
}
